@keyframes popupOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  animation: popupOpen .2s linear;
  margin: auto;
}

@media screen and (max-width: 880px) {
  .popup {
    padding: 0 19px;
  }
}
