.profile__button-edit {
  background: url(/images/edit.png) center no-repeat;
  background-size: 16px 16px;
  height: 24px;
  width: 24px;
  margin: 10px 0 0 18px;
  border: 1px solid #fff;
  transition: opacity 0.3s ease-in;
}

.profile__button-edit:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  .profile__button-edit {
    background-size: 7.5px 7.5px;
    height: 18px;
    width: 18px;
    margin: 0 0 0 10px;
  }
}
